# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*cmake-build-debug/

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/
.vscode/
.clangd/
build/
/tmx/CMakeFiles/3.10.2/CompilerIdC/a.out
/tmx/CMakeFiles/3.16.2/CompilerIdC/a.out
/tmx/CMakeFiles/tmx.dir/build.make
/CMakeFiles/raylib_platformer.dir/build.make
/CMakeFiles/raylib_platformer.dir/C.includecache
/tmx/CMakeFiles/tmx.dir/C.includecache
/CMakeFiles/clion-environment.txt
/tmx/CMakeFiles/cmake.check_cache
/CMakeFiles/cmake.check_cache
/CMakeFiles/raylib_platformer.dir/cmake_clean.cmake
/tmx/CMakeFiles/tmx.dir/cmake_clean.cmake
/tmx/CMakeFiles/tmx.dir/cmake_clean_target.cmake
/tmx/cmake_install.cmake
/tmx/doc/cmake_install.cmake
/cmake_install.cmake
/tmx/CMakeCache.txt
/CMakeCache.txt
/tmx/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/tmx/CMakeFiles/3.16.2/CMakeCCompiler.cmake
/CMakeFiles/3.14.5/CMakeCCompiler.cmake
/CMakeFiles/3.16.2/CMakeCCompiler.cmake
/tmx/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
/tmx/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.14.5/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
/tmx/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/tmx/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.14.5/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
/tmx/doc/CMakeFiles/CMakeDirectoryInformation.cmake
/CMakeFiles/CMakeDirectoryInformation.cmake
/tmx/CMakeFiles/CMakeDirectoryInformation.cmake
/tmx/CMakeFiles/CMakeOutput.log
/CMakeFiles/CMakeOutput.log
/tmx/CMakeFiles/3.10.2/CMakeSystem.cmake
/tmx/CMakeFiles/3.16.2/CMakeSystem.cmake
/CMakeFiles/3.14.5/CMakeSystem.cmake
/CMakeFiles/3.16.2/CMakeSystem.cmake
/CMakeFiles/raylib_platformer.dir/depend.internal
/tmx/CMakeFiles/tmx.dir/depend.internal
/CMakeFiles/raylib_platformer.dir/depend.make
/tmx/CMakeFiles/tmx.dir/depend.make
/tmx/CMakeFiles/tmx.dir/DependInfo.cmake
/CMakeFiles/raylib_platformer.dir/DependInfo.cmake
/tmx/CMakeFiles/feature_tests.bin
/CMakeFiles/feature_tests.bin
/tmx/CMakeFiles/feature_tests.c
/CMakeFiles/feature_tests.c
/tmx/CMakeFiles/tmx.dir/flags.make
/CMakeFiles/raylib_platformer.dir/flags.make
/tmx/install_manifest.txt
/CMakeFiles/raylib_platformer.dir/link.txt
/tmx/CMakeFiles/tmx.dir/link.txt
/Makefile
/tmx/Makefile
/tmx/doc/Makefile
/CMakeFiles/Makefile.cmake
/tmx/CMakeFiles/Makefile.cmake
/tmx/CMakeFiles/Makefile2
/CMakeFiles/Makefile2
/tmx/CMakeFiles/tmx.dir/progress.make
/CMakeFiles/raylib_platformer.dir/progress.make
/tmx/doc/CMakeFiles/progress.marks
/tmx/CMakeFiles/progress.marks
/CMakeFiles/progress.marks
/raylib_platformer
/raylib_platformer.cbp
/CMakeFiles/TargetDirectories.txt
/tmx/CMakeFiles/TargetDirectories.txt
/tmx/tmxConfig.cmake
/tmx/tmxConfigVersion.cmake
/tmx/CMakeFiles/Export/lib/cmake/tmx/tmxExports.cmake
/tmx/CMakeFiles/Export/lib/cmake/tmx/tmxExports-noconfig.cmake
